 <script type="text/javascript">

document.ready(function () {

	$("#item1").keyup(function () { 
	
	var value = $(this).val();
	$('#item2').val(value);
		

	});


});

</script>



<form method='post'>


<input type="text" id="item1">
<input type="text" id="item2">


</form>